body,
html {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.navigation {
  background-color: navy;
  height: 10%;
  text-align: center;
  font-size: 20px;
}

.navigation>a {
  padding: 1rem;
  color: lightblue;
}
