.ListDoctors {
  background-image: url("../../images/brooke-lark-230140-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  float: right;
}
.ListDoctors > .container{
  min-height: 90vh;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: auto;
  align-content: center;
  margin-top: 70px;
  text-align: center;
  float: right;
}

.form{
  width:100%;
}